<h1>Login</h1>

<section class="login-form">
	<form name="myForm" 
	ng-submit="login()" novalidate>
		
		<input type="email" name="email" placeholder="Email" autofocus
		ng-model="user.email" ng-required>

		<p class="error validationerror" 
		ng-show="myForm.email.$invalid && myForm.email.$touched">Must be a valid email</p>

		<input type="password" name="password" placeholder="Password"
		ng-model="user.password" ng-required>

		<p class="error validationerror" 
		ng-show="myForm.password.$invalid && myForm.password.$touched">Password is required</p>

		<button type="submit" class="btn"
		ng-disabled="myForm.$invalid">Login</button>

		<p>or <a ng-href="#/register">register</a></p>
		
	</form>
</section>